<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DroneZ - Revolutionizing Road Safety</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindui/animations@1.0.0"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: "#4A148C",
              secondary: "#00BCD4",
              accent: "#7E57C2",
            },
          },
        },
      };
    </script>
  </head>
  <style>
    .animate-fade-in {
      opacity: 0;
      transform: translateY(4px);
      transition: opacity 1s ease, transform 1s ease;
    }
    .animate-fade-in.show {
      opacity: 1;
      transform: translateY(0);
    }
    .custom-file-upload {
      display: inline-block;
      padding: 12px 24px;
      cursor: pointer;
      border-radius: 0.375rem; /* rounded-md */
      border: 2px solid transparent;
      background-color: #4a148c; /* Primary color */
      color: #ffffff;
      text-align: center;
      font-size: 1rem;
      font-weight: 600;
      transition: background-color 0.3s ease, color 0.3s ease;
      width: 100%;
    }
    .custom-file-upload:hover {
      background-color: #7e57c2; /* Accent color */
    }
    .custom-file-upload input[type="file"] {
      display: none;
    }

    .bg-gradient-custom {
      background: linear-gradient(135deg, #4a148c, #7e57c2, #00bcd4);
    }
    .text-gradient {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(45deg, #4a148c, #00bcd4);
    }
    .hovering-drone {
      animation: hover 4s ease-in-out infinite;
    }
    @keyframes hover {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
    }
    .image-preview {
      margin-top: 1rem;
      max-width: 100%;
      border-radius: 0.375rem; /* rounded-md */
    }
  </style>
  <body class="font-sans bg-gray-100 text-gray-800">
    <header
      class="fixed top-0 left-0 w-full bg-transparent bg-opacity-90 z-50 transition-all duration-300 ease-in-out"
    >
      <div
        class="container mx-auto px-4 py-4 flex justify-between items-center"
      >
        <img
          src="{{ url_for('static', filename='images/DroneZ1.png') }}"
          alt="DroneZ Logo"
          id="company-logo"
          class="h-16 transition-all duration-300 ease-in-out"
        />
        <nav>
          <ul class="flex space-x-6">
            <li>
              <a
                href="/"
                class="text-primary hover:text-secondary transition duration-300"
                >Home</a
              >
            </li>
            <li>
              <a
                href="about"
                class="text-primary hover:text-secondary transition duration-300"
                >About</a
              >
            </li>
            <li>
              <a
                href="contact"
                class="text-primary hover:text-secondary transition duration-300"
                >Contact</a
              >
            </li>
            <li>
              <a
                href="solutions"
                class="text-primary hover:text-secondary transition duration-300"
                >Solutions</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <section
      class="bg-gradient-custom text-white min-h-screen flex items-center pt-20"
    >
      <div
        class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8 items-center"
      >
        <div class="order-2 md:order-1">
          <img
            src="{{ url_for('static', filename='images/DroneZ1.png') }}"
            alt="DroneZ"
            class="hovering-drone w-full max-w-md mx-auto"
          />
        </div>
        <div class="order-1 md:order-2">
          <h1 class="text-5xl font-bold mb-4 animate-fade-in">
            Pioneering Road Safety Innovation
          </h1>
          <p class="text-xl mb-8 animate-fade-in">
            Transforming urban infrastructure with AI-powered drones and cloud
            technology
          </p>
          <div class="space-x-4 animate-fade-in">
            <a
              href="#"
              class="bg-white text-primary px-6 py-3 rounded-full font-semibold hover:bg-secondary hover:text-white transition duration-300"
              >Get Started</a
            >
            <a
              href="#"
              class="border border-white text-white px-6 py-3 rounded-full font-semibold hover:bg-white hover:text-primary transition duration-300"
            >
              <i class="fas fa-play-circle mr-2"></i>Watch Demo
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="py-20 bg-gray-50">
      <div class="container mx-auto px-4">
        <h2
          class="text-4xl font-bold text-center mb-12 text-gray-800 animate-fade-in"
        >
          Road Condition Analysis
        </h2>
        <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg p-8">
          <form id="imageUploadForm" class="space-y-6">
            <div>
              <label
                for="imageUpload"
                class="block text-sm font-medium text-gray-700 mb-2"
                >Upload an image of a road</label
              >
              <label for="imageUpload" class="custom-file-upload">
                <span>Choose File</span>
                <input type="file" id="imageUpload" name="image" required />
              </label>
              <!-- Image preview -->
              <img
                id="imagePreview"
                class="hidden image-preview"
                alt="Image Preview"
              />
            </div>
            <button
              type="submit"
              class="w-full bg-primary text-white px-4 py-2 rounded-md hover:bg-accent transition duration-300 transform hover:scale-105"
            >
              Analyze Road Condition
            </button>
          </form>
          <div
            id="resultContainer"
            class="hidden mt-8 bg-gray-100 p-6 rounded-lg shadow-lg transition-transform transform scale-95"
          >
            <h3 class="text-xl font-bold mb-2 text-gray-800">
              Analysis Result:
            </h3>
            <p id="resultText" class="text-lg text-gray-700">
              Your results will appear here.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="py-20 bg-white">
      <div class="container mx-auto px-4">
        <h2
          class="text-4xl font-bold text-center mb-12 animate-fade-in text-gradient"
        >
          Our Vision
        </h2>
        <p class="text-xl text-center mb-12 animate-fade-in max-w-3xl mx-auto">
          To revolutionize the future of infrastructure management through
          cutting-edge drone technology, paving the way for safer, smarter, and
          more sustainable urban environments across the globe.
        </p>

        <h2
          class="text-4xl font-bold text-center mt-20 mb-12 animate-fade-in text-gradient"
        >
          Our Goals
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div
            class="bg-gradient-to-br from-primary to-accent text-white p-6 rounded-lg shadow-md animate-fade-in"
          >
            <h3 class="text-xl font-semibold mb-2">Short-term Goal</h3>
            <p>
              Deploy our AI-powered drone technology in 10 key Saudi Arabian
              cities within 24 months.
            </p>
          </div>
          <div
            class="bg-gradient-to-br from-accent to-secondary text-white p-6 rounded-lg shadow-md animate-fade-in"
          >
            <h3 class="text-xl font-semibold mb-2">Mid-term Goal</h3>
            <p>
              Form strategic partnerships with 3+ leading infrastructure
              entities in the next five years.
            </p>
          </div>
          <div
            class="bg-gradient-to-br from-secondary to-primary text-white p-6 rounded-lg shadow-md animate-fade-in"
          >
            <h3 class="text-xl font-semibold mb-2">Long-term Goal</h3>
            <p>
              Establish DroneZ as a global leader in AI-driven infrastructure
              management solutions.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section
      class="py-20 bg-gradient-to-r from-primary via-accent to-secondary text-white"
    >
      <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-center mb-12 animate-fade-in">
          Our Impact
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div
            class="bg-white text-primary p-6 rounded-lg shadow-md animate-fade-in"
          >
            <i class="fas fa-coins text-4xl mb-4"></i>
            <h3 class="text-xl font-semibold mb-2">Cost Reduction</h3>
            <p>
              Minimizing the economic impact of road defects through early
              detection and repair.
            </p>
          </div>
          <div
            class="bg-white text-primary p-6 rounded-lg shadow-md animate-fade-in"
          >
            <i class="fas fa-shield-alt text-4xl mb-4"></i>
            <h3 class="text-xl font-semibold mb-2">Enhanced Safety</h3>
            <p>
              Improving road safety for all users by identifying and addressing
              hazards promptly.
            </p>
          </div>
          <div
            class="bg-white text-primary p-6 rounded-lg shadow-md animate-fade-in"
          >
            <i class="fas fa-leaf text-4xl mb-4"></i>
            <h3 class="text-xl font-semibold mb-2">Sustainability</h3>
            <p>
              Promoting eco-friendly transportation through efficient
              infrastructure management.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-20 bg-white">
      <div class="container mx-auto px-4">
        <h2
          class="text-4xl font-bold text-center mb-12 animate-fade-in text-gradient"
        >
          Our Mission
        </h2>
        <p class="text-xl text-center mb-12 animate-fade-in max-w-3xl mx-auto">
          At DroneZ, we are committed to redefining urban infrastructure
          management by harnessing the power of advanced AI and drone
          technology. Our mission is to deliver precise, real-time intelligence
          on road conditions, empowering cities to elevate safety, efficiency,
          and sustainability in their transportation networks for a brighter
          future.
        </p>
      </div>
    </section>

    <section class="py-20 bg-gradient-custom text-white">
      <div class="container mx-auto px-4 text-center">
        <h2 class="text-4xl font-bold mb-4 animate-fade-in">
          Ready to Revolutionize Road Maintenance?
        </h2>
        <p class="text-xl mb-8 animate-fade-in">
          Join us in creating safer, more efficient transportation networks.
        </p>
        <a
          href="#"
          class="bg-white text-primary px-8 py-3 rounded-full font-semibold hover:bg-secondary hover:text-white transition duration-300 animate-fade-in"
          >Get Started Now</a
        >
      </div>
    </section>

    <footer class="bg-primary text-white py-12">
      <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
          <div>
            <h3 class="text-lg font-semibold mb-4">Company</h3>
            <img src="images/DroneZ1.png" alt="DroneZ Logo" class="mb-4 h-12" />
            <p>Revolutionizing road maintenance with AI since 2024.</p>
          </div>
          <div>
            <h3 class="text-lg font-semibold mb-4">Quick Links</h3>
            <ul class="space-y-2">
              <li>
                <a href="#" class="hover:text-secondary transition duration-300"
                  >Home</a
                >
              </li>
              <li>
                <a
                  href="about.html"
                  class="hover:text-secondary transition duration-300"
                  >About</a
                >
              </li>
              <li>
                <a
                  href="solutions.html"
                  class="hover:text-secondary transition duration-300"
                  >Solutions</a
                >
              </li>
              <li>
                <a
                  href="contact.html"
                  class="hover:text-secondary transition duration-300"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
          <div>
            <h3 class="text-lg font-semibold mb-4">Legal</h3>
            <ul class="space-y-2">
              <li>
                <a href="#" class="hover:text-secondary transition duration-300"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a href="#" class="hover:text-secondary transition duration-300"
                  >Terms of Service</a
                >
              </li>
              <li>
                <a href="#" class="hover:text-secondary transition duration-300"
                  >Cookie Policy</a
                >
              </li>
            </ul>
          </div>
          <div>
            <h3 class="text-lg font-semibold mb-4">Connect</h3>
            <div class="flex space-x-4">
              <a
                href="#"
                class="text-2xl hover:text-secondary transition duration-300"
                ><i class="fab fa-twitter"></i
              ></a>
              <a
                href="#"
                class="text-2xl hover:text-secondary transition duration-300"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a
                href="#"
                class="text-2xl hover:text-secondary transition duration-300"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="mt-8 text-center">
          <p>© 2024 DroneZ. All rights reserved.</p>
        </div>
      </div>
    </footer>

    <script>
      // Add scroll event listener for header
      window.addEventListener("scroll", () => {
        const header = document.querySelector("header");
        if (window.scrollY > 50) {
          header.classList.add("bg-white", "shadow-md");
        } else {
          header.classList.remove("bg-white", "shadow-md");
        }
      });

      // Intersection Observer for fade-in animations
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("opacity-100", "translate-y-0");
            }
          });
        },
        { threshold: 0.1 }
      );

      document.querySelectorAll(".animate-fade-in").forEach((el) => {
        el.classList.add(
          "opacity-0",
          "translate-y-4",
          "transition",
          "duration-1000"
        );
        observer.observe(el);
      });
      document
        .getElementById("imageUpload")
        .addEventListener("change", function (event) {
          const file = event.target.files[0];
          const preview = document.getElementById("imagePreview");

          if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
              preview.src = e.target.result;
              preview.classList.remove("hidden");
            };
            reader.readAsDataURL(file);
          } else {
            preview.classList.add("hidden");
          }
        });

      document
        .getElementById("imageUploadForm")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          const formData = new FormData();
          const imageFile = document.getElementById("imageUpload").files[0];
          formData.append("image", imageFile);

          try {
            const response = await axios.post("/analyze_road", formData, {
              headers: {
                "Content-Type": "multipart/form-data",
              },
            });
            const result = response.data;
            document.getElementById(
              "resultText"
            ).textContent = `The road condition is: ${result.prediction}`;
            document
              .getElementById("resultContainer")
              .classList.remove("hidden");
          } catch (error) {
            console.error("Error:", error);
            alert(
              "An error occurred while analyzing the image. Please try again."
            );
          }
        });
    </script>
  </body>
</html>
